<div class="space-y-4">
  <%= render JetUi::Divider::Component.new(align: :start) do %>Section<% end %>
  <%= render JetUi::Divider::Component.new(align: :center) do %>or<% end %>
  <%= render JetUi::Divider::Component.new(align: :end) do %>More<% end %>
</div>
